<%- include('../partials/layout-start') %> <%- include('../partials/menu') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-4">404 | Такой страницы не существует</h1>
  </div>
</div>

<%- include('../partials/layout-end') %>